apiVersion: apps/v1
kind: Deployment
metadata:
  name: robot-api-mqtt
spec:
  replicas: 1
  selector:
    matchLabels:
      app: robot-api-mqtt
  template:
    metadata:
      labels:
        app: robot-api-mqtt
    spec:
      containers:
        - name: robot-api-mqtt
          image: robot-api-mqtt:latest
          imagePullPolicy: Never   # helyi image kind-ben
          env:
            - name: MQTT_HOST
              value: "mosquitto"   # a Service neve
            - name: MQTT_PORT
              value: "1883"        # a Service portja
            - name: MQTT_CMD_TOPIC
              value: "robot/cmd"
            - name: MQTT_STATE_TOPIC
              value: "robot/state"
          ports:
            - containerPort: 8000
---
apiVersion: v1
kind: Service
metadata:
  name: robot-api-mqtt
spec:
  type: NodePort
  selector:
    app: robot-api-mqtt
  ports:
    - name: http
      port: 8000           # cluster-en belüli port
      targetPort: 8000     # konténer port
      nodePort: 30081      # hostról: localhost:30081
